:root {
    /* Main Colors */
    --sage-green: #A7C957;   /* Soft, modern green */
    --light-brown: #D2B48C;  /* Earthy and neutral */
    --off-white: #FAF3E0;    /* Clean and minimal */

    /* Accent Colors */
    --warm-yellow: #FFC107;  /* Warmth for buttons and highlights */
    --rust-orange: #D95D39;  /* Vintage, farm-inspired touch */

    /* Text Colors */
    --text-dark: #4A4A4A;    /* Dark gray for readability */
    --text-light: #FFFFFF;   /* White for contrast on dark backgrounds */

}

.shopcategory-banner{
    padding: 2rem;
    display: block;
    width: 52%;
    margin: 2rem auto;
    height: 20rem;
    object-fit: fill;
    border-radius: 1rem;
    box-shadow: -10px 10px 50px var(--warm-yellow);
    background: #036303;
}

.shopcategory-indexSort{
    display: flex;
    margin: 0 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 3rem;
    border: 0.2rem solid var(--text-dark);
}

.shopcategory-indexSort span{
    font-weight: 600;
}

.shopcategory-sort img{
    width: 1rem;
    height: 1rem ;
    margin: auto;
}

.shopcategory-products{
    margin: 1.25rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5rem;
    padding: 5rem 2rem 5rem 2rem;
}

.shopcategory-products img{
    height: 1rem;
    width: 1rem;
    border-radius: 5%;
    object-fit: contain;
}