:root {
    --sage-green: #A7C957;
    --light-brown: #D2B48C;
    --off-white: #FAF3E0;
    --warm-yellow: #FFC107;
    --rust-orange: #D95D39;
    --text-dark: #4A4A4A;
    --text-light: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(180deg, var(--light-brown) 100%, var(--off-white));
    z-index: 3;
    position: sticky;
    top: 0;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

.nav-logo img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: 3rem;
}

.nav-logo p {
    color: var(--text-dark);
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px var(--warm-yellow);
    font-family: 'Lobster', sans-serif;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    cursor: pointer;
    text-shadow: 2px 2px 4px var(--warm-yellow);
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 0.75rem;
    background: var(--rust-orange);
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-login-cart img {
    height: 2.5rem;
    width: 3rem;
}

.nav-login-cart button {
    width: 10rem;
    height: 4rem;
    outline: none;
    font-size: 1rem;
    border: 1px solid var(--rust-orange);
    border-radius: 2rem;
    font-weight: 550;
    background: var(--off-white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-login-cart button:active {
    background: var(--rust-orange);
    transform: scale(1.02);
}

.nav-cart-count {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -17px;
    left: -42px;
    border-radius: 50%;
    font-size: 12px;
    background-color: rgb(255, 0, 0);
    color: white;
}

@media (max-width: 780px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }

    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        font-size: 1rem;
        padding: 0.5rem 0;
    }

    .nav-login-cart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .nav-login-cart button {
        width: 6.5rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    .nav-login-cart img {
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .nav-cart-count {
        top: -8px;
        left: -15px;
        width: 18px;
        height: 18px;
        font-size: 10px;
    }
}
